extends ../shared/template
block content
  h2 Edit Profile
  .row.backdrop
      .col-xs-6
          .header2 Primary Photo
            #editPrimary(style='background-image: url(#{user.primaryPhoto})')
      .col-xs-6
        .header2 Change Primary Photo
          .photoDiv
            if user.photos
              each photo, index in user.photos
                .photoMinor
                  form(method='post' action='/user/#{index}/change')
                    button(style='display:none').btn.btn-sm Change...
                  .profilePhotos.thumbnail(style='background-image:url(#{photo});')
            else
                p You haven't added any photos...
  .row
    .col-xs-4
    .col-xs-4
      form#uploadPhotos(method='post', action='/users/edit/photo', enctype='multipart/form-data')
          .form-group
             label(for='photos') Photos
             input.form-control#photos(type='file', name='photos', multiple=true)
          button.btn.btn-success(type='submit'): i.fa.fa-camera.fa-lg &nbsp; Upload Photos
    .col-xs-4
  .row.backdrop

    form#editProfileForm(role='form', method='post', action='/users/edit')
      .col-xs-6
        .row
          .col-xs-1
          .col-xs-4
            input(type='hidden', name='_method', value='put')
            input#lat(type='hidden', name='loc[lat]')
            input#lng(type='hidden', name='loc[lng]')

            .form-group
              label Summary
                textarea.area(name='description') #{user.description || ""}
            .form-group
              label What I'm Looking For
                textarea.area(name='lookingFor') #{user.lookingFor || ""}
            .form-group
              label Favorite Movies/Books
                textarea.area(name='favMedia') #{user.favMedia || ""}

      .col-xs-6
            .form-group
              label(for='name') Display Name:
              input.form-control#name(type='text', name='username', value=(user.username || 'name?'), autofocus=true)

            .form-group
              label(for='species') Species:
                select(name='species')
                  option(value='Dog') Dog
                  option(value='Cat') Cat
                  option(value='Mouse') Mouse
                  option(value='Horse') Horse
                  option(value='Brony') Brony
                  option(value='Lizard') Lizard
                  option(value='Fox') Fox
                  option(value='Dinosaur') Dinosaur
                  option(value='Wolf') Wolf
                  option(value='Seal') Seal
                  option(value='Bird') Bird
                  option(value='Fish') Fish
                  option(value='Penguin') Penguin
                  option(value='Racoon') Racoon
                  option(value='GROOT') GROOT
                  option(value='Other') Other
            .form-group
              label Sex:
                select(name='sex')
                  option(value='Male') Male
                  option(value='Female') Female
            .form-group
              label Kids?:
                select(name='kids')
                  option(value='Yes') Yes
                  option(value='No') No
                  option(value='Maybe') Maybe
                  option(value='I love kids!') I love kids!
            .form-group
              label Smoker?:
                select(name='smoker')
                  option(value='No') No
                  option(value='Yes') Yes
            .form-group
              label Height:
                select(name='height')
                  option(value='Dwarf') Dwarf
                  option(value='Short') Short
                  option(value='Average') Average
                  option(value='Tall') Tall
                  option(value='Really Tall') Really Tall
            .form-group
              label Weight:
                select(name='weight')
                  option(value='Slim') Slim
                  option(value='Athletic') Athletic
                  option(value='Average') Average
                  option(value='Curvy') Curvy
                  option(value='Rotund') Rotund
            .form-group
              label(for='locName') Location:
              input.form-control#locName(type='text', name='loc[name]', value=(user.loc.name || ''))
            .form-group
              label(for='email') Email:
              input.form-control#email(type='email', name='email', value=(user.email || 'email?'))
            .form-group
              label(for='age') Age:
              input.form-control#age(type='text', name='age', value=(user.age || 'age?' ))
            .form-group
              label(for='tagline') Tagline:
              input.form-control#tagline(type='text', name='tagline', value=(user.tagline || 'tag line?'))
            .form-group
              label(for='tagline') Phone:
              input.form-control#phone(type='phone', name='phone', value=(user.phone || ''))
          .col-xs-1
          .col-xs-4
          .col-xs-2
        .row
          .header3 Privacy Settings
          .col-xs-6
            .radio
              label
                input(type='radio' name='visible' value='public' checked=user.isVisible)
                span Public
          .col-xs-6
            .radio
              label
                input(type='radio' name='visible' value='private', checked=!user.isVisible)
                span Private
      button.btn.btn-primary.big(type='submit' form="editProfileForm"): i.fa.fa-pencil.fa-lg &nbsp; Save Changes


block scripts
  script(src='/js/user/editProfile.js')

